footer {
    background-color: whitesmoke;
    text-align: center;
    padding: 1.5rem;
    margin-top:70px;
    font-size: 18px;
    color: #555;
      font-weight: bold;
      height: 40px;
      
  }

