<section class="novidades">
  <h2>Novidades fresquinhas</h2>
  <div class="novidades-container">
    <div 
      *ngFor="let item of produtosNovidades" 
      class="item" 
      tabindex="0"
      role="link"
      [routerLink]="['/produto', item.idproduto]"
      [attr.aria-label]="'Ver detalhes do produto ' + item.nomeProduto"
      style="cursor: pointer;"
    >
      <img 
        loading="lazy"
        [src]="item.imagemProduto.startsWith('data:image') ? item.imagemProduto : 'data:image/webp;base64,' + item.imagemProduto"
        [alt]="'Imagem do produto ' + item.nomeProduto"
        class="img-produto"
      />

      <h3>{{ item.nomeProduto }}</h3>

      <p class="desc-produto">
        {{ item.descProduto }}
      </p>

      <p class="preco">
        R$ {{ item.precoProduto | number:'1.2-2' }}
      </p>

      <button 
        class="btn" 
        (click)="irParaProduto(item.idproduto); $event.stopPropagation()"
        [attr.aria-label]="'Ir para detalhes de ' + item.nomeProduto"
      >
        Detalhes
      </button>
    </div>
  </div>
</section>




<!-- Seção de promoções dinâmica -->
<section class="promocoes">
  <h2>Ofertas da Semana</h2>
  <div class="promocoes-container">
    <!-- Alterado: usa produtosPromocoes -->
    <div 
      *ngFor="let item of produtosPromocoes" 
      [routerLink]="['/produto', item.idproduto]" 
      class="item" tabindex="0"
      [attr.aria-label]="'Oferta ' + item.nomeProduto + ' por R$' + item.precoProduto"
      style="cursor: pointer;"
    >
      <img 
        [src]="item.imagemProduto.startsWith('data:image') ? item.imagemProduto : 'data:image/webp;base64,' + item.imagemProduto"
        [alt]="item.nomeProduto" class="img-produto" 
      />
      <p>{{ item.nomeProduto }}</p>
      <p class="preco">
        R$ {{ item.precoProduto | number:'1.2-2' }} 
        <span class="desconto">R$ {{ (item.precoProduto + 50) | number:'1.2-2' }}</span>
      </p>
    </div>
  </div>
</section>

<!-- Produtos Populares dinâmica -->
<section class="carrossel">
  <h2>Produtos Populares</h2>
  <div class="carrossel-container">
    <!-- Alterado: usa produtosMaisPedidos -->
    <div 
      *ngFor="let item of produtosMaisPedidos" 
      [routerLink]="['/produto', item.idproduto]" 
      class="item" tabindex="0"
      [attr.aria-label]="'Produto ' + item.nomeProduto + ' por R$' + item.precoProduto"
      style="cursor: pointer;"
    >
      <img 
        [src]="item.imagemProduto.startsWith('data:image') ? item.imagemProduto : 'data:image/webp;base64,' + item.imagemProduto"
        [alt]="item.nomeProduto" class="img-produto" 
      />
      <p>{{ item.nomeProduto }}</p>
      <p class="preco">R$ {{ item.precoProduto | number:'1.2-2' }}</p>
    </div>
  </div>
</section>
