/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-dialog-container {
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  overflow-y: auto;
  max-height: 80vh;
}
